@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Courier New", ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: #050505;
  color: white;
  font-family: var(--font-mono);
}

